body {
  font-family: 'Helvetica Nue', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-image: linear-gradient(#ed2024, white);
}

.logo {
  text-align: center;
}

img {
  margin-top: 2em;
}

.start {
  text-align: center;
}

.start button {
  margin-top: 1em;
  text-align: center;
  background-color: #3935a5;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  margin: 2em;
  margin-bottom: 2em;
}

.intro-text {
  text-align: center;
}
